<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqCtXoCh6tDyxOjdMKe4unGT_5W5qSb14</string>
	<key>GCM_SENDER_ID</key>
	<string>521086661246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zwigzo-food</string>
	<key>STORAGE_BUCKET</key>
	<string>zwigzo-food.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521086661246:ios:124fb435ca980cae9c9e2f</string>
</dict>
</plist>